@charset "UTF-8";
/* line 9, _cm-base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 14, _cm-base.scss */
.cm {
  font-size: 14px;
  clear: both;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

/* line 21, _cm-base.scss */
.cm_header {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 26, _cm-base.scss */
.cm_header:after, .cm:after, .cm_weekdays:after, .cm_days:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, _cm-base.scss */
.cm_title {
  font-size: 1.5em;
  float: left;
}

/* line 35, _cm-base.scss */
.cm_nav {
  width: 200px;
  display: block;
  float: right;
  margin-right: 10px;
}

/* line 41, _cm-base.scss */
.cm_nav button {
  width: 33.3%;
  height: 25px;
  float: left;
  margin: 0;
  padding: 0;
  background: #dddddd;
}

/* line 49, _cm-base.scss */
.cm_nav button.prev {
  border-radius: 7px 0 0 7px;
}

/* line 52, _cm-base.scss */
.cm_nav button.next {
  border-radius: 0  7px 7px 0;
}

/* line 56, _cm-base.scss */
.cm li {
  list-style-type: none;
  box-sizing: border-box;
  width: 14.2%;
  padding-bottom: 5px;
  display: block;
  float: left;
  border: 1px solid #333333;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: visible!important;
}

/* line 68, _cm-base.scss */
.cm_days li {
  min-height: 120px;
}

/* line 71, _cm-base.scss */
.cm li .cm_day, .cm li .cm_month {
  display: none;
}

/* line 74, _cm-base.scss */
.cm li.out_of_range {
  background-color: #F5F5F5;
  color: #666;
}

/* line 79, _cm-base.scss */
.cm_weekdays {
  text-align: center;
}

/* line 82, _cm-base.scss */
.cm .cm_day_cell {
  text-align: right;
  margin-bottom: 5px;
}

/* line 87, _cm-base.scss */
.cm_date-title {
  margin: 5px;
}

/* line 91, _cm-base.scss */
.cm .cm_event {
  font-size: 11.2px;
  text-align: left;
  background: #cecece;
  border: 1px solid #333333;
}

/* line 97, _cm-base.scss */
.cm_event__content {
  padding: 5px;
}

/* line 101, _cm-base.scss */
.cm .cm_event__title {
  font-size: 12.6px;
}

/* line 105, _cm-base.scss */
.cm_event--start .cm_event {
  margin-left: 5px;
  border-right: none;
}

/* line 109, _cm-base.scss */
.cm_event--middle .cm_event {
  border-right: none;
  border-left: none;
  margin: 0 -1px;
}

/* line 114, _cm-base.scss */
.cm_event--end .cm_event {
  margin-right: 5px;
  border-left: none;
  margin-left: -1px;
}

/* line 121, _cm-base.scss */
.cm_event--middle .cm_event__content, .cm_event--end .cm_event__content {
  display: none;
}

/* line 125, _cm-base.scss */
.cm_day:last-of-type.cm_event--middle .cm_event {
  margin-right: 0;
}

/* line 128, _cm-base.scss */
.cm_day:first-of-type.cm_event--middle .cm_event, .cm_day:first-of-type.cm_event--end .cm_event {
  margin-left: 0;
}

/* line 131, _cm-base.scss */
.cm_day:first-of-type.cm_event--middle .cm_event__content, .cm_day:first-of-type.cm_event--end .cm_event__content {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* line 137, _cm-base.scss */
  .cm li.out_of_range, .cm li.no_event {
    display: none;
  }

  /* line 141, _cm-base.scss */
  .cm_event--start .cm_event, .cm_event--middle .cm_event, .cm_event--end .cm_event {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #333333;
  }

  /* line 147, _cm-base.scss */
  .cm_title {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 152, _cm-base.scss */
  .cm_nav {
    float: none;
    margin: 0 auto;
  }

  /* line 156, _cm-base.scss */
  .cm .cm_weekdays {
    display: none;
  }

  /* line 159, _cm-base.scss */
  .cm .cm_day-cell {
    text-align: center;
  }

  /* line 162, _cm-base.scss */
  .cm li {
    height: auto!important;
    border: 1px solid #333333;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  /* line 169, _cm-base.scss */
  .cm li .cm_day, .cm li .cm_month {
    display: inline;
  }

  /* line 173, _cm-base.scss */
  .cm li.cm_out-of-range, .cm li.cm_empty {
    display: none;
  }
}
