@charset "UTF-8";
/* line 13, cm.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 18, cm.scss */
.cm {
  font-size: 14px;
  clear: both;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

/* line 25, cm.scss */
.cm_header {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 30, cm.scss */
.cm_header:after, .cm:after, .cm_weekdays:after, .cm_week:after {
  content: "";
  display: block;
  clear: both;
}

/* line 35, cm.scss */
.cm_title {
  font-size: 1.5em;
  float: left;
}

/* line 39, cm.scss */
.cm_nav {
  width: 200px;
  display: block;
  float: right;
  margin-right: 10px;
}

/* line 45, cm.scss */
.cm_body {
  position: relative;
  width: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 58, cm.scss */
ul.cm_weekdays {
  display: table-row;
}
/* line 60, cm.scss */
ul.cm_weekdays > li {
  height: auto;
}

/* line 64, cm.scss */
.cm_week {
  display: table-row;
  /*
  position:relative;
  display:table-row;
  li {
  	min-height: 120px;
  	display:table-cell;
  }
  */
}
/* line 75, cm.scss */
.cm_week:last-child > li {
  border-bottom: 1px solid #333333;
}

/* line 79, cm.scss */
.cm li {
  list-style-type: none;
  display: table-cell;
  width: 100%;
  height: 100px;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  box-sizing: border-box;
  /*
  list-style-type: none;
  box-sizing: border-box;
  width: 14.2%;
  padding-bottom: 5px;
  display: block;
  float: left;
  border: 1px solid $colorDayBorder;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: visible!important;
  */
}
/* line 89, cm.scss */
.cm li:first-child {
  border-left: 1px solid #333333;
}

/* line 105, cm.scss */
.cm li.out_of_range {
  background-color: #cecece;
  color: #686868;
}

/* line 110, cm.scss */
.cm_weekdays {
  text-align: center;
}

/* line 114, cm.scss */
.cm .cm_day {
  padding: 7px;
}

/* line 118, cm.scss */
.cm .cm_day_cell {
  text-align: right;
  margin-bottom: 5px;
}

/* line 123, cm.scss */
.cm_date {
  margin-bottom: 5px;
  line-height: 1;
}

/* line 127, cm.scss */
.cm_date--title {
  display: none;
  float: none;
  text-align: center;
  margin-bottom: 10px;
}

/* line 133, cm.scss */
.cm .cm_event {
  font-size: 11.2px;
  text-align: left;
  background: #dddddd;
  border: 1px solid #666666;
  margin-bottom: 5px;
  border-radius: 0;
}

/* line 145, cm.scss */
.cm_event__content {
  padding: 5px;
}

/* line 149, cm.scss */
.cm .cm_event__title {
  font-size: 12.6px;
}

@media only screen and (max-width: 768px) {
  /* line 154, cm.scss */
  .cm, .cm .cm_event__title {
    font-size: 14px;
  }

  /* line 157, cm.scss */
  .cm li.out_of_range, .cm li.no_event {
    display: none;
  }

  /* line 160, cm.scss */
  .cm_title {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 165, cm.scss */
  .cm_nav {
    float: none;
    margin: 0 auto;
  }

  /* line 169, cm.scss */
  .cm .cm_weekdays {
    display: none;
  }

  /* line 172, cm.scss */
  .cm .cm_day-cell {
    text-align: center;
  }

  /* line 175, cm.scss */
  .cm li {
    display: block;
    height: auto!important;
    border: 1px solid #333333;
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
  }

  /* line 183, cm.scss */
  .cm_day-cell {
    height: auto;
  }

  /* line 186, cm.scss */
  .cm li.cm_out-of-range, .cm li.cm_empty {
    display: none;
  }

  /* line 189, cm.scss */
  .cm_date--title {
    display: block;
  }

  /* line 192, cm.scss */
  .cm_date--int {
    display: none;
  }
}
