@charset "UTF-8";
/* line 11, _cm-base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 16, _cm-base.scss */
.cm {
  font-size: 14px;
  clear: both;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

/* line 23, _cm-base.scss */
.cm_header {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 28, _cm-base.scss */
.cm_header:after, .cm:after, .cm_weekdays:after, .cm_week:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, _cm-base.scss */
.cm_title {
  font-size: 1.5em;
  float: left;
}

/* line 37, _cm-base.scss */
.cm_nav {
  width: 200px;
  display: block;
  float: right;
  margin-right: 10px;
}

/* line 43, _cm-base.scss */
.cm_nav button {
  width: 33.3%;
  height: 25px;
  float: left;
  margin: 0;
  padding: 0;
  background: #dddddd;
}

/* line 51, _cm-base.scss */
.cm_nav button.prev {
  border-radius: 7px 0 0 7px;
}

/* line 54, _cm-base.scss */
.cm_nav button.next {
  border-radius: 0  7px 7px 0;
}

/* line 57, _cm-base.scss */
.cm_body {
  width: 100%;
  background: #ddd;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 69, _cm-base.scss */
ul.cm_weekdays {
  display: table-row;
}
/* line 71, _cm-base.scss */
ul.cm_weekdays > li {
  height: auto;
}

/* line 75, _cm-base.scss */
.cm_week {
  display: table-row;
  /*
  position:relative;
  display:table-row;
  li {
  	min-height: 120px;
  	display:table-cell;
  }
  */
}
/* line 86, _cm-base.scss */
.cm_week:last-child > li {
  border-bottom: 1px solid #333333;
}

/* line 90, _cm-base.scss */
.cm li {
  list-style-type: none;
  display: table-cell;
  width: auto;
  height: 100px;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  box-sizing: border-box;
  /*
  list-style-type: none;
  box-sizing: border-box;
  width: 14.2%;
  padding-bottom: 5px;
  display: block;
  float: left;
  border: 1px solid $colorDayBorder;
  margin-right: -1px;
  margin-bottom: -1px;
  overflow: visible!important;
  */
}
/* line 99, _cm-base.scss */
.cm li:first-child {
  border-left: 1px solid #333333;
}

/* line 115, _cm-base.scss */
.cm li .cm_day, .cm li .cm_month {
  display: none;
}

/* line 118, _cm-base.scss */
.cm li.out_of_range {
  background-color: #cecece;
  color: #686868;
}

/* line 123, _cm-base.scss */
.cm_weekdays {
  text-align: center;
}

/* line 127, _cm-base.scss */
.cm .cm_day_cell {
  text-align: right;
  margin-bottom: 5px;
}

/* line 132, _cm-base.scss */
.cm_date-title {
  margin: 5px;
}

/* line 136, _cm-base.scss */
.cm .cm_event {
  font-size: 11.2px;
  text-align: left;
  background: #dddddd;
  border: 1px solid #666666;
}

/* line 142, _cm-base.scss */
.cm_event__content {
  padding: 5px;
}

/* line 146, _cm-base.scss */
.cm .cm_event__title {
  font-size: 12.6px;
}

/* line 150, _cm-base.scss */
.cm_event--start .cm_event {
  margin-left: 5px;
  border-right: none;
}

/* line 154, _cm-base.scss */
.cm_event--middle .cm_event {
  border-right: none;
  border-left: none;
  margin: 0 -1px;
}

/* line 159, _cm-base.scss */
.cm_event--end .cm_event {
  margin-right: 5px;
  border-left: none;
  margin-left: -1px;
}

/* line 166, _cm-base.scss */
.cm_event--middle .cm_event__content, .cm_event--end .cm_event__content {
  display: none;
}

/* line 170, _cm-base.scss */
.cm_day:last-of-type.cm_event--middle .cm_event {
  margin-right: 0;
}

/* line 173, _cm-base.scss */
.cm_day:first-of-type.cm_event--middle .cm_event, .cm_day:first-of-type.cm_event--end .cm_event {
  margin-left: 0;
}

/* line 176, _cm-base.scss */
.cm_day:first-of-type.cm_event--middle .cm_event__content, .cm_day:first-of-type.cm_event--end .cm_event__content {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* line 182, _cm-base.scss */
  .cm li.out_of_range, .cm li.no_event {
    display: none;
  }

  /* line 186, _cm-base.scss */
  .cm_event--start .cm_event, .cm_event--middle .cm_event, .cm_event--end .cm_event {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #666666;
  }

  /* line 192, _cm-base.scss */
  .cm_title {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 197, _cm-base.scss */
  .cm_nav {
    float: none;
    margin: 0 auto;
  }

  /* line 201, _cm-base.scss */
  .cm .cm_weekdays {
    display: none;
  }

  /* line 204, _cm-base.scss */
  .cm .cm_day-cell {
    text-align: center;
  }

  /* line 207, _cm-base.scss */
  .cm li {
    height: auto!important;
    border: 1px solid #333333;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  /* line 214, _cm-base.scss */
  .cm li .cm_day, .cm li .cm_month {
    display: inline;
  }

  /* line 218, _cm-base.scss */
  .cm li.cm_out-of-range, .cm li.cm_empty {
    display: none;
  }
}
