@charset "UTF-8";

ul {
	margin:0;
	padding:0;
}
.calendar_header {
	display: block;
	width:100%;
	margin-bottom: 10px;
}
.calendar_header:after, .calendar:after, .weekdays:after, .days:after {
	content:"";
	display:table;
	clear:both;
}
	.calendar_title {
		font-size:1.5em;
		float:left;
	}
	.calendar_nav {
		width:200px;
		display:block;
		float:right;
		margin-right: 10px;
	}
	.calendar_nav button {
		width:33.3333%;
		height:25px;
		float:left;
		margin:0;
		padding:0;
		background: #ddd;
	}
	.calendar_nav button.prev {
		border-radius: 7px 0 0 7px;
	}
	.calendar_nav button.next {
		border-radius: 0  7px 7px 0;
	}
.calendar {
	clear:both;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
}

.calendar li {
	list-style-type: none;
	box-sizing: border-box;
	width: 14.2857142857%;
	padding: 5px;
	display: block;
	float: left;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
	overflow: visible!important;
}
.days li {
	min-height:100px;
}
.calendar li .day, .calendar li .month {
	display: none;
}
.calendar li.out_of_range {
	background-color: #F5F5F5;
	color: #666;
}

.weekdays {
	text-align: center;
}
.calendar .day_cell {
	text-align: right;
	margin-bottom: 5px;
}



@media only screen and (max-width : 768px) {
	.calendar_title {
		float:none;
		text-align: center;
		margin-bottom:10px;
	}
	.calendar_nav {
		float:none;
		margin: 0 auto;
	}
	.calendar .weekdays{
		display: none;
	}
	.calendar .day_cell {
		text-align: center;
	}
	.calendar li{
		height: auto!important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
	.calendar li .day, .calendar li .month{
		display: inline;
	}

	.calendar li.out_of_range, .calendar li.empty {
		display: none;
	}
}